<footer class="bg-main-color">
  <div class="footer container text-white pt-6">
    <nav class="nav d-flex justify-between align-center mb-3">
      <ul class="nav-list d-flex flex-wrap text-white">
        <li class="nav-item">
          <a class="nav-link" href="./index.html">首頁</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">系列鏡框</a></li>
        <li class="nav-item"><a class="nav-link" href="#">門市據點</a></li>
        <li class="nav-item"><a class="nav-link" href="#">部落格</a></li>
        <li class="nav-item"><a class="nav-link" href="#">常見問題</a></li>
      </ul>
      <ul class="social-list d-flex">
        <li class="social-item me-4">
          <a href="#"
            ><img src="../assets/images/ic-social-fb.png" alt="fb"
          /></a>
        </li>
        <li class="social-item me-4">
          <a href="#"
            ><img src="../assets/images/ic_social_ig.png" alt="ig"
          /></a>
        </li>
        <li class="social-item">
          <a href="#"
            ><img src="../assets/images/ic_social_line.png" alt="line"
          /></a>
        </li>
      </ul>
    </nav>

    <div class="contact mb-4 fz-3">
      <ul>
        <li class="d-flex align-center mb-1">
          <span class="material-icons-outlined fz-2 me-2"> phone </span
          ><a href="tel:0800-000-000">0800-000-000</a>
        </li>
        <li class="d-flex align-center">
          <span class="material-icons-outlined fz-2 me-2"> email </span
          ><a href="mailto:glasses@business.com">glasses@business.com</a>
        </li>
      </ul>
    </div>

    <div class="copyright d-flex justify-between align-center py-md">
      <p class="copyright-content">
        Copyright © 2020 Glasses.All rights reserved.
      </p>
      <ul class="copyright-list d-flex fz-6">
        <li class="copyright-item me-6"><a href="#">隱私權政策</a></li>
        <li class="copyright-item"><a href="#">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>
