<header class="bg-main-color">
  <div class="header container d-flex flex-wrap align-center justify-between">
    <a class="header-img" href="./index.html">
      <img
        src="../assets/images/logo-white.png"
        alt="logo"
        class="header-logo"
      />
    </a>
    <nav class="nav">
      <ul class="nav-list d-flex flex-wrap fz-5 text-white">
        <li class="nav-item"><a class="py-sm pe-4" href="#">系列鏡框</a></li>
        <li class="nav-item">
          <a class="py-sm ps-4 pe-4" href="#">門市據點</a>
        </li>
        <li class="nav-item"><a class="py-sm ps-4 pe-4" href="#">部落格</a></li>
        <li class="nav-item"><a class="py-sm ps-4" href="#">常見問題</a></li>
      </ul>
    </nav>
  </div>
</header>
